/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 6:20:44 PM
    Author     : Marcelino
*/

body{
    background: url('../bg.gif');
}
.wizard ul{
    width: 20%;
}
.label{
    color:white;
     text-shadow: 1px 1px black;
}
.shadowContainer{
    -webkit-box-shadow: inset 0px 0px 5px 1px #009EC3;
-moz-box-shadow: inset 0px 0px 5px 1px #009EC3;
box-shadow: inset 0px 0px 5px 1px #009EC3;
}
.chatText{
    color: #30333B;
    /* display: inline-block; */
    font-weight:400;
    padding-right: 12px;
    text-shadow: 0.5px 0.5px black;
}
.loggedUser{
    float: left;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: blink;
    padding: 23px;
    border-left: 3px solid #009EC3;
}
.messageDate{
        float: right;
        padding: 5px;
        display: flex;
        margin: 0 auto;
        padding-top: 2%;
}
.chatImg{
    float:left; 
    width: 52px;
    border-right: 1px solid grey;
}
.line{
    background-color: #009EC3 !important;
    height: 2px;
    -webkit-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    -moz-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    border:0px #009EC3;
    width: 100%;
    /* margin-left: -7%; */
}
.carbon{
        background: radial-gradient(circle, #231d18 5%, transparent 7%) 4em 4em, radial-gradient(circle, #3f3932 2%, transparent 6%) 1em 1em, radial-gradient(circle, #231d18 3%, transparent 5%) 1em 1em,radial-gradient(circle, #3f3932 3%, transparent 6%) 1em 5em, radial-gradient(circle, #231d18 3%, transparent 5%) 1em 1em,radial-gradient(circle, #3f3932 59%, transparent 6%) 1em 1em, radial-gradient(circle, #231d18 3%, transparent 5%) 0 0,radial-gradient(circle, #3f3932 0%, transparent 6%) 4em 5em, radial-gradient(circle, #231d18 3%, transparent 5%) 0 0, radial-gradient(circle, #3f3932 5%, transparent 5%) 0 1em;
        /* background-size: 2em 4em; */
        padding: 24px;
        background-size: cover;
        background: url('../bg_avatar.png');
}
.ui-column-filter{
    background-color:white !important;
}
.ui-chkbox-icon{
    background-color:white !important;
}
.ui-chkbox-box{
    background:none !important;
    border:0px solid black !important;
    
}
.ui-datatable-data{
    background-color: #949494 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    /* border: 1px solid #89B8C8; */
    background: #E7EBEC url("/playchat/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #E7EBEC linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #E7EBEC -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #E7EBEC -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
}
.lineList{
    background-color: #009EC3 !important;
    height: 2px;
    -webkit-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    -moz-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
    border:0px #009EC3;
    width: 100%;
    margin-top: 0px;
}
.lineReg{
     background-color: #009EC3 !important;
     height: 2px;
     -webkit-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
     -moz-box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
     box-shadow: 1px 2px 1px 0px rgb(7, 78, 95);
     border:0px #009EC3;
     width: 102%;
     margin-left: -1%;
}
.imageAvatar{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
border:3px solid #009EC3;
}
.roomOwerview{
    border:2px solid #009EC3;
    border-radius:5px;
    padding: 10px;
    margin: 0 auto;
    /* margin-right: 8px; */
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    background-color:rgba(255,255,255,0.5);
    margin: 5px;
}
.img{
    width: 110px;
    display: block;
    margin: 0 auto;
    height: 110px;
    vertical-align: middle;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.header{
     color: blue;
    background: rgb(230, 230, 230);
    width: 100%;
    height: 150px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.container_reg{
    
      
        border-radius: 10px;
        padding: 10px;
        /* -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75); */
        -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
        /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
}
.globalChat{
       position: relative;
       z-index: 20000;
       width: 300px;
       padding: 0 !important;
       border:0 !important;
       
       margin-top: -445px;
       float: right;
}
.ui-widget-content{
    border: 0 !important;
}
.dateChat{
    font-size: 8px !important;
    margin-top: -26px;
}
.fontChat{
    font-family: serif;
    font-weight: bold;
    text-align:center;
}
.content{
        color: rgb(243, 250, 255);
        padding: 10px;
        min-height:600px;
        background-color: grey;
}
.contentBoot{
        color: rgb(255, 255, 255);
        /* padding: 10px; */
        background-color: grey;
}
h1,h2,h3,h4,h5{
    text-shadow: 1px 1px black;
}
.footer{
       color: white;
       width: 100%;
       padding-top: 10px;
       background-color: rgba(0, 0, 0, 0.41);
       height: 70px;
       border-bottom: 2px dotted black;
}
.footerBoot{
       color: white;
       width: 100%;
       padding-top: 10px;
       background-color: rgba(0, 0, 0, 0.41);
       height: 70px;
       border-bottom: 2px dotted black;
}
.container{
    width: 100%;
    position:relative;
    display:inline-block;
    background-color:black;
    color:white;
    text-decoration: none;
    
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.siteName{
       font-family: sans-serif;
    font-size: 70px;
    color: #009EC3;
    text-shadow: 1px 1px black;
    text-align: center;
    
}
.messageIcon{
    
   float: right;
    margin-top: -130px;
    margin-right: 90px;
    text-shadow: 1px 1px black;
    color: #009EC3;
    font-size: 101px;
}
.header{
    display: inline-block;
    height: 200px;
    background-size: contain;
    background: url('../header.png')no-repeat -1px 0px #EAFBFF;
}
.link_footer{
    color: #AF2B14;
}
.link_footer:hover{
    color:  #009EC3;
}
.link{
   font-family: sans-serif;
   font-size: 22px;
   margin-right: 0px;
   padding: 16px;
   float: left;
   color: white;
   text-decoration: blink;
}
.link:hover{
   font-family: sans-serif;
   background-color: #AF2B14;
    font-size: 22px;
    margin-right: 0px;
    padding: 16px;
    float: left;
    color: white;
    text-decoration: blink;
}
.logo{
    float: left;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #009EC3;
    background-color:none !important;
    text-decoration: blink;
    padding: 10px;
}
.logo:hover{
    float: left;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: white;
    background-color:#009EC3 !important;
    text-decoration: blink;
    animation-name: logoanim;
    animation-duration: 4s;
    padding: 10px;
}
@keyframes logoanim {
    from {background-color: none;}
    to {background-color: #009EC3;}
}
#nav{
    position:relative;
    float:right;
    
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
body{
    margin:0 !important;
}
.ui-wizard-step-titles{
        margin: 0 auto;
    width: 20%;
}
.chatButtons{
    text-align:center;
    line-height: 2;
    background-color:#009EC3;
}
.shadowAvatar{
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.myButton{
    color:black; margin:0 auto; width: 100%; margin-bottom:5px; background-color:#009EC3; border-color: #04596D;
}
.myButtonSend{
    color:black; 
    margin:0 auto; 
    padding:10px;
    margin-bottom:5px;
    margin-right: 5px;
    background-color:#009EC3; 
    border-color: #04596D;
}
.chatWindow{
    overflow-y: auto;
    
    height:400px;
    background: rgba(247, 247, 247, 0.79);
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.chatMessage{
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.miniButtons{
    background-color:#009EC3;
    border-color: #04596D;
    padding:10px;
    color:white;
    z-index: 15;
}
.ui-datatable-even{
    background: #C8EAF2;
}
.ui-widget-header {
    border: 1px solid #04596D;
    background: #20AACA url("/playchat/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #c4c4c4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #19A7C8 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}