<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:head>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>


       

            <ui:include src="../template/headerChat.xhtml"/>
 <h:form>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 contentBoot " style="padding:0 !important;" >
                    <div class="row " style="background:#565A5A;" >
                        <div class='row' style="">
                            <hr class="lineList" />
                            <div class="col-sm-12 col-md-12 col-lg-12 " style="padding:5px;">


                                <div class="col-sm-12 col-md-12 col-lg-12  "  style="display:inline-block;  width:100%; " >
                                    <div >
                                        <div class="col-lg-2 col-md-2 col-sm-2 " style="float:right; z-index:15">
                                            <p:commandLink style="float:right;" actionListener="#{chatBean.changeKeys()}" class="myButtonSend ui-state-default" onsuccess="successKeys();"  value="Change keys"  />
                                        </div>
                                        <div class="col-lg-2 col-sm-2" style="float:left; z-index:15;">
                                            <p:commandLink class="myButtonSend ui-state-default" style="float:left;"   value="Invite users"  onclick="PF('Invite').show();"  />
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 cl-lg-offset-2 " style="z-index:1;text-align:center;  " >
                                            <h4 style="line-height: 1.7;" >Joined Users</h4>
                                        </div>
                                    </div>
                                </div>


                            </div>    
                        </div>

                        <div class="row">
                            <h:panelGroup id="usersGroup">
                                <p:remoteCommand name="pushActivity"  actionListener="#{chatBean.checkUserActive}" onsuccess ="updateScroll();" update="usersGroup" />
                             <p:remoteCommand name="pushDelete"  actionListener="#{chatBean.checkUserPermitted}" update="usersGroup :dialog:invitation" />
                      
                             <div  class="col-sm-12 col-md-12 col-lg-12 carbon"  style="display: inline">

                                <c:forEach items="#{chatBean.users}" var="users">
                                    <div class="hidden-sm hidden-xs col-md-1 col-lg-1 margin shadowAvatar" style="margin-top: #{chatBean.randomize()}px; background: rgba(255,255,255,0.1); margin-left:#{chatBean.randomizeleft()}%; border-radius:5px; padding:5px; display:inline-block">
                                        <p:graphicImage value="#{imageStreamer.image}" class="img-circle img-responsive shadowAvatar " style="margin:0 auto; " width="40" height="40">
                                            <f:param name="id" value="#{chatBean.picPath}#{users.userimagePath}" />
                                        </p:graphicImage>
                                        <div style="line-height: 0.8; margin-top:15px; ">
                                            <p style='text-align:center; margin-top: 4px;' >#{users.userusername}</p>
                                            <p style="color:white; font-size: 10px; text-align: center;">Last joined on:</p>
                                            <c:if test="#{users.loggedIn == false}">
                                                <p:outputLabel value="#{users.userloginTime}" style="font-size: 11px; color:red; text-align: center; width:100%; text-shadow:1px 1px black;">
                                                    <f:convertDateTime  pattern="dd.MM.YYYY hh:mm"/> 
                                                </p:outputLabel>
                                            </c:if>
                                            <c:if test="#{users.loggedIn == true}">
                                                <p style="font-size: 11px; color:greenyellow; text-align: center; text-shadow:1px 1px black;">Logged in!</p>
                                            </c:if>
                                        </div>

                                    </div>

                                </c:forEach>

                            </div>
                            </h:panelGroup>
                            <p:socket onMessage="usersActivity" channel="/activity"   widgetVar="activities" />
                            <p:socket onMessage="userDelete" channel="/delete" widgetVar="delete" />
                            <script type="text/javascript">
                                function usersActivity(){
                                    console.log("In usersActivity");
                                     
                                 pushActivity();   
                                }
                                function userDelete(){
                                    console.log("In usersActivity");
                                 pushDelete();   
                                }
                            </script>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Chat Window -->
                 
                        <div id="window"  class="col-sm-12 col-md-12 col-lg-12 chatWindow" >
                           
                            <h:panelGroup id="chatWindow">
                                <p:remoteCommand name="updateChat" actionListener="#{chatBean.refreshMessages}" update="chatWindow textAreaGroup "/>
                            <c:forEach items="#{chatBean.messages}" var="message">
                               
                                <div class="row shadowContainer" style="padding: 5px; border-bottom: 1px solid grey;" >
                                   
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div  class="chatImg">
                                            <p:graphicImage class="img-responsive" style=" padding: 5px;" value="#{imageStreamer.image}" width="50" height="50">
                                            <f:param name="id" value="#{chatBean.folderPath}#{message.useruserId.userimagePath}" />
                                        </p:graphicImage>
                                    
                                            <p class="chatText" style="text-align:center;">#{message.useruserId.userusername}</p>
                                        </div>
                                        <div class="col-sm-8 col-md-9 col-lg-9" style="float:left; padding: 5px; ">
                                            <!-- decrypt and show my message  -->
                                            <p:outputLabel class="chatText" style="font-size:12px ; padding-top: 10px;" value="#{chatBean.decryptMessage(message)}" />
                                            
                                        </div>
                                             <div class="col-sm-8 col-md-2 col-lg-2 messageDate" >
                                                 <c:if test="#{!chatBean.checkDate(message.messagescreatedDate)}">     
                                            <p:outputLabel style="float:right; line-height: 1; " value="#{message.messagescreatedDate}" class="chatText">
                                                <f:convertDateTime dateStyle="long" type="both" />
                                            </p:outputLabel>
                                                 </c:if>
                                                 <c:if test="#{chatBean.checkDate(message.messagescreatedDate)}">
                                                     <p:outputLabel style=" width:100%; line-height: 1; text-align: right;" class="chatText" value=" Today #{chatBean.padValue(message.messagescreatedDate.hours)}:#{chatBean.padValue(message.messagescreatedDate.minutes)}"/>
                                                 </c:if>
                                        </div>
                                  
                                    </div>
                                </div>
                            </c:forEach>
                            
                            </h:panelGroup>
                        </div>
                        
                        <!-- Chat input --> 
                        <h:panelGroup id="textAreaGroup">
                        <div class="col-sm-12 col-md-12 col-lg-12 chatMessage" style="min-height:200px;" >
                            <p:inputTextarea id="textArea" style="width:100%;" cols="6" value="#{chatBean.message}" placeholder="Enter message here..." autoResize="true" />
                            <p:commandButton style="float:right;" class="myButtonSend" actionListener="#{chatBean.sendMessage}"  value="Send" oncomplete="updateScroll();" update="chatWindow textAreaGroup"  />
                        </div>
                        </h:panelGroup>
                        <p:socket onMessage="refreshChat" channel="/refresh"  widgetVar="subscriber" />
                    </div>
                    <script type="text/javascript">
                        function refreshChat(){
                            console.log("Sem pognal refreschat!!!")
                          updateChat();
                        }
                    </script>


                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12  footerBoot">
                <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
            </div>

            <f:metadata>
                <f:viewParam id="roomName" name="roomName" value="#{chatBean.roomName}" >   
                </f:viewParam>
                <f:viewAction action="#{chatBean.init()}" />    
            </f:metadata>

           
        </h:form>
        <h:form id="dialog">
            <p:dialog id="invitation"  widgetVar="Invite" header="Invite users to room:" modal="true" width="800" >
                 <p:messages autoUpdate="true" showDetail="true"  />
                <p:dataTable id="table" value="#{chatBean.nonJoinedUsers()}" var="user" selection="#{chatBean.selectedUsers}" rowKey="#{user.idUser}">
                            <f:facet name="header">
                                Users
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:50px;text-align:center"/>
                            <p:column headerText="Avatar" width="75">
                                <p:graphicImage  value="#{imageStreamer.image}" width="60" height="60" class="img-responsive img-circle" style="margin:0 auto;"  >
                                    <f:param name="id" value="#{chatBean.picPath}#{user.userimagePath}" />
                                </p:graphicImage>
                            </p:column>
                            <p:column headerText="Username" filterBy="#{user.userusername}" >
                                <h:outputText value="#{user.userusername}"/>
                            </p:column>
                            <p:column headerText="E-mail" filterBy="#{user.useremail}">
                                <h:outputText value="#{user.useremail}" />
                            </p:column>
                            <p:column headerText="Last login" >
                                <h:outputText value="#{user.userloginTime}" >
                                    <f:convertDateTime dateStyle="long" />
                                </h:outputText>
                            </p:column>
                            
                            <f:facet name="footer">
                                <p:commandButton value="invite" process="table" action="#{chatBean.sendInvite()}" onsuccess="success();" onerror="error();"   >
                                    
                                </p:commandButton>
                            </f:facet>
                        </p:dataTable>
                
            </p:dialog >
            <p:dialog header="Success!" widgetVar="success">
                <h1 style="text-align:center;">Invites has been send! </h1>
                <p:commandButton value="Back to chat" style="float:right;" class="chatButtons" onclick="PF('success').hide();"   />
            </p:dialog>
            <p:dialog header="Error!" widgetVar="error">
                 <h1 style="text-align:center;">Invites has not been send! </h1>
                 <p>Please contact administrator via  <a href="mailto:salej7@gmail.com" >E-mail</a> about this problem</p>
                 <p:commandButton value="Back to chat" style="float:right;"  class="chatButtons" onclick="PF('error').hide();"   />
            </p:dialog>
            <p:dialog header="Success!" widgetVar="successKeys">
                <h1 style="text-align:center;">Keys has been changed!</h1>
                <p:commandButton value="Back to chat" style="float:right;" onclick="PF('successKeys').hide();"  class="chatButtons"   />
               
            
            </p:dialog>
            <p:dialog header="Error!" widgetVar="errorKeys">
                 <h1 style="text-align:center;">Keys has not been changed</h1>
                 <p>Please contact administrator via  <a href="mailto:salej7@gmail.com" >E-mail</a> about this problem</p>
                 <p:commandButton value="Back to chat" style="float:right;"   class="chatButtons" onclick="PF('errorKeys').hide();"  />
            </p:dialog>
            <script type="text/javascript">
                function success(){
                    PF('Invite').hide();
                    PF('success').show();
                }
                 function error(){
                    PF('Invite').hide();
                    PF('error').show();
                }
                 function successKeys(){
                   
                    PF('successKeys').show();
                }
                 function errorKeys(){
                    
                    PF('errorKeys').show();
                }
                function updateScroll(){
    var element = document.getElementById("window");
    element.scrollTop = element.scrollHeight;
   $("#textArea").val('');
}
window.setInterval(function() {
  var elem = document.getElementById('window');
  elem.scrollTop = elem.scrollHeight;
}, 5000);

            </script>
          
        </h:form>
        <script src="../resources/js/bootstrap.min.js" type="text/javascript" />
        
    </h:body>


</html>

