<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>PrimeFaces</title>
    </f:facet>
</h:head>

<h:body>
    <ui:include src="../template/headerLogged.xhtml" />

    <div class="content">
       
        <h1  style="text-align:center; color:white;" >Add room</h1>
        <div class="row">
            <hr class="line" />
            <div style="width:100%; margin: 0 auto;" class="col-md-6 col-xs-12 col-lg-8 col-lg-offset-2 col-md-offset-2">
        <h:form enctype="multipart/form-data">
            
            <p:messages id="mess" autoUpdate="true" /> 
            <div class="row">
                <div class="col-lg-4 col-sm-8  col-sm-offset-2 col-lg-offset-5" >
         
                <br /> 
                <p:outputLabel styleClass="label" value="Chatroom name:" />
                <p:inputText  value="#{roomBean.room.chatRoomname}" 
                             required="true" requiredMessage="Please insert room name" />
                <br /><br />
                <p:outputLabel styleClass="label" value="Chatroom label:"/>
                <p:inputText required="true" value="#{roomBean.room.chatRoomlabel}" requiredMessage="Please insert room label!" >
                    <p:ajax event="change"  update="mess" />
                </p:inputText>
                   
            </div>
            </div> 
         
         
            <br />
            <p style="text-align: center; text-shadow:1px 1px black;">Note: Please wait while your uploaded picture disappears from file uploader</p>
            
            <p:fileUpload style="width:50%; margin:0 auto;" fileUploadListener="#{roomBean.handleFileUpload}"  auto="true" 
                          fileLimit="1" required="true" requiredMessage="Please upload image!" allowTypes="/(\.|\/)(gif|jpg|png)$/"  />
            <br />
            
          
            <p:commandButton style="float:right; background-color:#009EC3; border-color: #04596D;" value="Save" actionListener="#{roomBean.saveRoom()}"  />
        </h:form>
    </div>
        </div>
          <hr class="line" />
    </div>
    <div class="footer">
        <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
    </div>

    <script src="../resources/js/bootstrap.min.js" type="text/javascript" />
</h:body>


</html>

