<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:head>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>
        <h:form>
            <ui:include src="../template/headerLogged.xhtml"/>
        
            
        <div class="content">
            #{indexBean.result}
            
            <h1 style="text-align: center; color:white;font-size: 30px;" class="lead" >Welcome to PlayChat chatroom!</h1>
            <br />
            <p style="text-align: center; color:white; font-size: 18px; text-shadow:1px 1px black;" class="lead">This is your main lobby for chatting. <br />
                Below in the bottom right corner is global chat (all users can interact). If you want to create a private lobby click <a href="createRoom.xhtml">here</a>.</p>
            <br />
            <p style="text-align: center; color:white; font-size: 18px; font-weight:bold; text-shadow:1px 1px black; " class="lead">THIS IS ALPHA RELEASE, SOME FUNCTIONS ARE STIL NOT WORKING 100%. Please be patient.</p>
            <h5 style="color:white; text-align:center; font-weight: bold;">Known bugs and fixes</h5>
            <div style="width:300px; margin:0 auto;"> 
                <ul >

                    <li style="color:red;">My chatrooms not working</li>
                    <li style="color:red;">Private chat not working</li>
                    <li style="color:red;">Encryption not working</li>
                    <li style="color:red;">FileUploader not working</li>
                </ul>
            </div>
            

   

        </div>
        <div class="footer">
            <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
        </div>

        </h:form>
        <script src="../resources/js/bootstrap.min.js" type="text/javascript" />
    </h:body>


</html>

