 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:head>
        <link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="../resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>
        <ui:include src="../template/headerLogged.xhtml"/>
        <h:form>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" style="background-color:grey;">
                    <h1 class="lead" style="text-align: center; color:white; text-shadow:1px 1px black; font-size:30px;">My Chatrooms</h1>
                    <br />

                    <div class="row" >
                        <div class="container-fluid "  style="  margin:0 auto">
                            <p style="color:white; text-shadow:1px 1px black; text-align:center; font-size: 18px;">Your accessible chatrooms:</p>

                            
                            <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1"  style=" padding: 10px; line-height:1;">
                                    <c:forEach items="#{lobbyBean.privilegeRooms}" var="room" >
                                        <div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 roomOwerview">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-lg-12" style="height:110px;">
                                                        <p:graphicImage value="#{imageStreamer.image}" class=" img-responsive imageAvatar" style="border-radius:100px; margin: 0 auto;" height="100" width="100">
                                                            <f:param name="id" value="#{roomBean.folderPath}#{room.chatRoomidChatRoom.chatRoomimage}" />
                                                        </p:graphicImage>
                                                    </div>
                                                      
                                                </div>

                                                <div class="mbl">
                                                    <p style="text-align:center; font-weight: bold; font-size: 16px; margin-left: 5px;">#{room.chatRoomidChatRoom.chatRoomname}</p>
                                                </div>
                                                <div class="row">
                                                    <p style="float:left; font-weight: bold;">Total # of Users:   </p><p:commandLink style="margin-left: 5px; float: right;" value=" #{lobbyBean.getNumUsersLobby(room)}" actionListener="#{lobbyBean.setUsersDialog(room)}" update="dialog" oncomplete="PF('dlg').show();"   />
                                                    
                                                </div>
                                                  <div class="row">
                                                      <p style="float:left; font-weight: bold;">Last message:   </p> <p style="float:right;">#{roomBean.findLastMessage(room)}</p>
                                                     
                                                    
                                                </div>
                                                <div class="row">
                                                      <p style="float:left; font-weight: bold;">Written by:   </p> <p style="float:right;">#{roomBean.findLastMessageUser(room)}</p>
                                                     
                                                    
                                                </div>
                                                <hr class="line" />


                                                <div class="row">
                                                    <p style="float:left; font-weight:bold;">Created </p><p:outputLabel style="float:right; font-weight: normal;" value="#{room.chatRoomidChatRoom.chatRoomcreatedDate}"><f:convertDateTime timeStyle="short" /></p:outputLabel>
                                                </div>
                                               
                                               
                                                <p:button class="myButton" value="Enter room" includeViewParams="true" onclick="window.open('chatRoom.xhtml?roomName=#{room.chatRoomidChatRoom.chatRoomUniqueId}', '_blank')"   >
             
                                                </p:button>
                                              
                                            </div>
                                        </div>
                                        </div>
                                    </c:forEach>
                                </div>
                           
                        </div>
                    </div>


                </div>
            </div>

            <p:dialog id="dialog" widgetVar="dlg" showEffect="explode" header="Joined users" hideEffect="bounce" >

                <div class="col-sm-12 col-md-12 col-lg-12">
                 
                        
                            
                            
                            <p:dataScroller value="#{lobbyBean.usersInGroup}" var="user" chunkSize="10">
        <f:facet name="header">
            Room user's list
        </f:facet>
 
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail">
            <p:graphicImage value="#{imageStreamer.image}" class=" imageAvatar" style="border-radius: 100px;"  width="100" height="100" >
                                <f:param name="id" value="#{lobbyBean.folder}#{user.userimagePath}" />
                            </p:graphicImage>
 
            <p:outputPanel>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Username:" />
                    <h:outputText value="#{user.userusername}" style="font-weight: bold"/>
 
                    <h:outputText value="E-mail:" />
                    <h:outputText value="#{user.useremail}" style="font-weight: bold"/>
 
                    <h:outputText value="Joined on:" />
                    <h:outputText value="#{user.userloginTime}" style="font-weight: bold">
                        <f:convertDateTime dateStyle="medium" />
                    </h:outputText>
                </h:panelGrid>
            </p:outputPanel>
        </h:panelGrid>
    </p:dataScroller>
                 
                </div>

            </p:dialog>

        </h:form>
        <script src="../resources/js/bootstrap.min.js" type="text/javascript" />
    </h:body>
</html>