<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       lang="en"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui">
  
   
     <ui:composition>
          <div class=" row">
        <div class="container col-md-12">
            <a href="#" class="logo" >PlayChat</a>
            <h:form>
                <div class="loggedUser">Welcome #{menuBean.user.userusername}</div>
            <nav id="nav">

                <p:commandLink actionListener="#{menuBean.linkIndex}" class="link">Home</p:commandLink>
                <p:commandLink actionListener="#{menuBean.linkCreateRoom}" class="link">Create room</p:commandLink>
                <p:commandLink actionListener="#{menuBean.linkMyRooms}" class="link">My rooms</p:commandLink>
              
                <p:commandLink actionListener="#{securityBean.logout()}" class="link">Logout</p:commandLink>

            </nav>
            </h:form>
        </div>
            </div>
        <div class=" row">
        <div class="col-md-12 header">
            <h1 class="siteName" style="margin-top: 40px;">Play chat</h1><div class="messageIcon"> 
        <i style="float: right; margin-top:40px;"  class="fa fa-weixin"></i>
        </div>
        </div>
        </div>
        
     </ui:composition>
 </html>
