<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       lang="en">
  
   
     <ui:composition>
          <div class=" row">
        <div class="container col-md-12">
            <a href="#" class="logo" >PlayChat</a>
            <nav id="nav">

                <a href="#" class="link">Home</a>
                <a href="#" class="link">About</a>
                <a href="#" class="link">Services</a>
                <a href="#" class="link">History</a>
                <a href="login.xhtml" class="link">Login</a>

            </nav>
        </div>
            </div>
        <div class="header row">
        <div class="col-md-12">
            <h1 class="siteName" style="margin-top: 40px;">Play chat</h1><div class="messageIcon"> 
        <i style="float: right; margin-top:40px;"  class="fa fa-weixin"></i>
        </div>
        </div>
        </div>
        
     </ui:composition>
 </html>
