<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:f="http://java.sun.com/jsf/core"
       lang="en"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui">
  
   
     <ui:composition>
          <div class=" row">
        <div class="container col-md-12">
            <a href="#" class="logo" >PlayChat</a>
            <h:form >
                <div class="loggedUser">Welcome #{menuBean.user.userusername}</div>
            <nav id="nav">

                
                <p:commandLink onclick="PF('ban').show();" class="link">Block users</p:commandLink>
                <p:commandLink actionListener="#{chatBean.destroy}" onsuccess="window.close();" class="link">Exit</p:commandLink>

            </nav>
                <p:dialog id="ban" widgetVar="ban">
                    <p:dataTable id="tableUsers" value="#{chatBean.users}" selection="#{chatBean.bannedUsers}" rowKey="#{user.idUser}" var="user">
                             <f:facet name="header">
                                Users
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:50px;text-align:center"/>
                            <p:column headerText="Avatar" width="75">
                                <p:graphicImage  value="#{imageStreamer.image}" width="60" height="60" class="img-responsive img-circle" style="margin:0 auto;"  >
                                    <f:param name="id" value="#{chatBean.picPath}#{user.userimagePath}" />
                                </p:graphicImage>
                            </p:column>
                            <p:column headerText="Username" filterBy="#{user.userusername}" >
                                <h:outputText value="#{user.userusername}"/>
                            </p:column>
                            <p:column headerText="E-mail" filterBy="#{user.useremail}">
                                <h:outputText value="#{user.useremail}" />
                            </p:column>
                            <p:column headerText="Last login" >
                                <h:outputText value="#{user.userloginTime}" >
                                    <f:convertDateTime dateStyle="long" />
                                </h:outputText>
                            </p:column>
                            
                            <f:facet name="footer">
                                <p:commandButton value="Delete" process="tableUsers" action="#{chatBean.deleteUserFromChat()}" onsuccess="PF('ban').hide();"    >
                                    
                                </p:commandButton>
                            </f:facet>
                    </p:dataTable>
                </p:dialog>
            </h:form>
        </div>
            </div>
        <div class=" row">
        <div class="col-md-12 header">
            <h1 class="siteName" style="margin-top: 40px;">Play chat</h1><div class="messageIcon"> 
        <i style="float: right; margin-top:40px;"  class="fa fa-weixin"></i>
        </div>
        </div>
        </div>
        
     </ui:composition>
 </html>
