<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" lang="en">


    <head>
        <link type="text/css" rel="stylesheet" href="./resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="./resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="./resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>PrimeFaces</title>
    </f:facet>
</head>

<body>

<ui:include src="template/header.xhtml"/>
 


    <div class="row">
    <div class="col-md-6 col-md-offset-3 content">
        <h1 style="text-align: center;font-weight: bold;" class=" lead">Welcome to PlayChat chatroom!</h1>
    
        
        <p class="lead" style="text-align:center; font-size: 17px; text-shadow:1px 1px black;">This application was designed for testing purposes of implementing security mehanisms in chat </p>
      
        <h3 class="lead" style="text-align: center; ">Please <a class="link_footer" href="register.xhtml">register</a> and try it out !</h3>
    
    </div>
    </div>
    <div class="row">
    <div class="footer col-md-12">
        <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
    </div>

    </div>
<script src="resources/js/bootstrap.min.js" type="text/javascript" />
</body>


</html>

