<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <link href="./resources/css/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="./resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="./resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>
       <ui:include src="template/header.xhtml"/>
       <div class="row">
        <div class="content col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
            <h1 style="text-align: center;">Login</h1>
            <br />
            <h:form style="width: 100%; height:auto;">
                <p:messages id="loginMessages" autoUpdate="true" />
                <div style="margin:0 auto; " class="row">
                    <div class="row">
                    <div class="col-md-2 col-xs-12 col-md-offset-3 ">
                        <p:outputLabel for="username" value="Username:" />
                    </div>
                        <div class="col-md-4 col-xs-4  ">
                        <p:inputText id="username" style="margin-left:5px;" value="#{securityBean.username}"/>
                        </div>
                    </div>
<br /><br />
<div class="row">
    <div class="col-md-2 col-xs-12 col-md-offset-3 ">
                            <p:outputLabel for="password" value="Password:"/>
    </div>
    <div class="col-md-4 col-xs-4 ">
        <p:password id="password" style="margin-left:9px;" value="#{securityBean.password}" />
                            </div>
</div>
                            <br />
<br />
                    <p:commandButton  style="float:right; background-color:#009EC3; border-color: #04596D;" value="Login" actionListener="#{securityBean.login()}" />
                </div>
            </h:form>



        </div>
       </div>
       <div class="row">
        <div class="footer col-md-12">
            <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
        </div>
       </div>
<script src="resources/js/bootstrap.min.js" type="text/javascript" />
    </h:body>


</html>

