<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:head>
        <link type="text/css" rel="stylesheet" href="resources/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>
        <ui:include src="/template/header.xhtml"/>
        <div class="row">
            <div class="content col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3" style="text-align:center;">
            <h:form>
                <c:if test="#{procesInvite.valid}">
                <h1 style="text-align:center;">Your invitation to room have been successfully  confirmed</h1>
                <br />
                <p style="text-align:center;" class="label">If you want to use our  system (chat), you can now login <a href="login.xhtml">here</a></p>
                
                </c:if>
                <c:if test="#{!procesInvite.valid}">
                    <h3>We cant confirm your invitation to join room </h3>
                    
                    <br />
                    <p>Please contact administrator about your problem. You can write to him by clicking on this 
                        <a href="mailto:salej7@gmail.com?subject=cannot confirm account;">link</a></p>
                </c:if>
                
                
            
            </h:form>



        </div>
        </div>
        <div class="footer">
            <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
        </div>
<script src="resources/js/bootstrap.min.js" type="text/javascript" />

    </h:body>


</html>

