<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <head>

        <link type="text/css" rel="stylesheet" href="./resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="./resources/css/font-awesome.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <f:facet name="first">
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>PrimeFaces</title>
    </f:facet>
</head>

<body>
    <div class="header">
        <div class="container">
            <a href="#" class="logo" >PlayChat</a>
            <nav id="nav">

                <a href="#" class="link">Home</a>
                <a href="#" class="link">About</a>
                <a href="#" class="link">Services</a>
                <a href="#" class="link">History</a>
                <a href="login.xhtml" class="link">Login</a>

            </nav>
        </div>

        <h1 class="siteName">Play chat</h1><div class="messageIcon"> 
        <i style="float: right;" class="fa fa-weixin"></i>
        </div>
    </div>

    <div class="content">
        <h1 style="text-align: center">Your registration has been successful</h1>
        <br />
        
        <p style="text-align:center;">Please confirm your email before login (click on confirmation link in email which was sended to you). If not you wont be able to log in </p>
        <br />
        <h3 style="text-align:center;">Back to  <a href="index.xhtml" >first page</a></h3>
    
    </div>
    <div class="footer">
        <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
    </div>

<script src="resources/js/bootstrap.min.js" type="text/javascript" />
</body>


</html>

