<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <link type="text/css" rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="resources/css/font-awesome.css.css"/>
        <link type="text/css" rel="stylesheet" href="resources/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>PrimeFaces</title>
        </f:facet>
    </h:head>
    <h:body>
<ui:include src="template/header.xhtml"/>
<div class="row">      

<div class="content col-md-6 col-md-offset-3 col-xs-12">
            <h1 style="text-align: center; color: white;">Register</h1>
            <br />
            <h:form style="width: 100%; height:auto;" enctype="multipart/form-data" >
             
                <hr class="lineReg" />
                <div class="row">
                        <p:messages id="loginMessages" autoUpdate="true" />
                        <div class="container_reg col-md-10 col-xs-12 col-lg-12 "  style="margin: 0 auto;" >
                            
                            <div class="col-md-12  col-xs-12 col-lg-8 col-lg-offset-3 col-md-offset-0 ">
                            <p:outputLabel styleClass="label" for="firstname" value="Firstname: " />
                            <p:inputText id="firstname" style="margin-left: 59px; border-radius: 10px;" 
                                         required="true" requiredMessage="Please insert your username!"
                                         value="#{registerBean.user.userfirstname}"/>
                            <br /><br />
                            <p:outputLabel styleClass="label" for="lastname"  value="Last name: " />
                            <p:inputText id="lastname" style="margin-left: 56px; border-radius: 10px;" 
                                         required="true" requiredMessage="Please insert your lastname!"
                                         value="#{registerBean.user.userlastname}" />
                            <br /><br />
                            <p:outputLabel styleClass="label" for="email" value="Email: " />
                            <p:inputText id="email" style="margin-left: 96px; border-radius: 10px;" 
                                         required="true" requiredMessage="Please insert your email!"
                                         value="#{registerBean.user.useremail}"
                                         validator="#{registrationValidator.validateEmail}"/>
                            <br /><br />
                            <p:outputLabel styleClass="label" for="username" value="Username: "/>
                            <p:inputText id="username" style="margin-left: 58px; border-radius: 10px;" 
                                         required="true" requiredMessage="Please insert your username!"
                                         value="#{registerBean.user.userusername}" />
                            <br /><br />
                            <p:outputLabel styleClass="label" for="passwordComponent" value="Password" />
                            <p:password id="passwordComponent" style="margin-left: 73px; border-radius: 10px;" redisplay="true"
                                        value="#{registerBean.user.userpassword}" 
                                        label="Password" required="true"
                                        requiredMessage="Password is required, cannot be empty"
                                        validatorMessage="Password and Repeat Password fields must be same" match="RepeatPassword" feedback="true"
                                        promptLabel="Password should contain atleast 8 characters ,1 number and 1 special character" >

                                <p:ajax event="blur" update="loginMessages" />
                            </p:password>
                            <br /><br />
                            <p:outputLabel styleClass="label" for="RepeatPassword" value="Confirm password" />
                            <p:password id="RepeatPassword" style="margin-left: 9px; border-radius: 10px;" redisplay="true"
                                        value="#{registerBean.user.userpassword}" label="RepeatPassword"
                                        required="true"
                                        requiredMessage="Password is required, cannot be empty" feedback="true"
                                        promptLabel="Repeat Password should match with Password">
                                <p:ajax event="blur" update="loginMessages" />
                            </p:password>
                            <br />
                            <br />
                            
                            </div>
                            
                        </div>
                        <p:outputLabel styleClass="label"  value="Upload picture: " />
                            <p:fileUpload auto="true" style="width:95%; margin:0 auto;" fileUploadListener="#{registerBean.handleFileUpload}" fileLimit="1"  />
<br />
                </div>
                    <!--
                    <p:tab id="image" title="image">
                        <div style="width:100%; margin:0 auto; ">
                            <p:outputLabel value="Upload picture: " />
                            <p:fileUpload allowTypes="/(\.|\/)(gif|jpe?g|png)$/" fileLimit="1"  />

                            <br />
                            <br />
                            <p:commandButton id="register" style="float:right;" value="Register"  />

                        </div>
                    </p:tab>
                    -->
                   
                    <hr class="lineReg" />
                    <p:commandButton id="register" style="float:right; background-color:#009EC3; border-color: #04596D;" value="Register" actionListener="#{registerBean.register}"  />

            </h:form>



        </div>
</div>
        <div class="footer">
            <p style="text-align: center;">All rights reserved. <a class="link_footer" href="https://si.linkedin.com/in/marcelsalej">Marcel Šalej</a></p>
        </div>

<script src="resources/js/bootstrap.min.js" type="text/javascript" />
    </h:body>


</html>

